{%	extends	"base.html"	%}
{% load crispy_forms_tags %}
{%	block	title	%}Reset	your	password{%	endblock	%}
{%	block	content	%}
	<h1>Reset	your	password</h1>
	<br>
	<div class="container">

	{%	if	validlink	%}
<p>Please	enter	your	new	password	twice:</p>
<form	action="{% url "account:password_reset_complete" %}">
	{{	form|crispy	}}
	{%	csrf_token	%}
	<button class="btn btn-primary" type="submit">Change My Password</button>
			</form>
    {%	else	%}
    <p>The	password	reset	link	was	invalid,	possibly	because	it	has
        already	been	used.	Please	request	a	new	password	reset.</p>
				{%	endif	%}
			</div>
        {%	endblock	%}