{%	extends	"base.html"	%}
{% load crispy_forms_tags %}
{%	block	title	%}Reset	your	password{%	endblock	%}
{%	block	content	%}
	<h1>Forgotten	your	password?</h1>
	<br>
	<div class="container">
<p>Enter	your	e-mail	address	to	obtain	a	new	password.</p>
<form	action="."	method="post">
	{{	form|crispy	}}
	{%	csrf_token	%}
	<button onclick="emailFn()" class="btn btn-primary" type="submit">Send E-mail</button>
		</form>
		<script>function emailFn(){
            alert("Email has been Sent, Check your Inbox!!")
        }</script>
	</div>
{%	endblock	%}